# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/



############## Nadine files 
#2019_S1_NB_FER.txt 
2019_S1_PROFIL_FER.txt 
#2019_S2_NB_FER.txt 
2019_S2_PROFIL_FER.txt 
#2020_S1_NB_FER.txt 
2020_S1_PROFIL_FER.txt 
#2020_S2_NB_FER.txt 
2020_S2_PROFIL_FER.txt 
#2021_S1_NB_FER.txt 
2021_S1_PROFIL_FER.txt 
#2021_S2_NB_FER.txt 
2021_S2_PROFIL_FER.txt 
#2022_S1_NB_FER.txt 
2022_S1_PROFIL_FER.txt 
#2022_S2_NB_FER.txt 
2022_S2_PROFIL_FER.txt 
#2023_S1_NB_FER .txt 
2023_S1_PROFIL_FER.txt 
#2023_S2_NB_FER.txt 
2023_S2_PROFIL_FER.txt 
